/*
$color__background-body : rgba(11, 194, 35, 0.534);

$color__background--h1: rgb(87, 50, 50);

$color__background--h2h3h4: rgb(118, 165, 130);

$color__background--code: rgb(172, 101, 101);
*/

  :root {
    /* --color-primary:  #661502;
    --color-primary-variation:  #fffbf4;
    --color-primary-second-variation:  #915e00;
    --color-secondary: #dcf1f6;
    --color-secondary-variation: #1e4475  ;
    --color-palette-first: #ADB5C5;
    --color-palette-second:  #598ed3;
    --color-palette-second-var: #dcf1f6;
    --color-palette-third: #6cacfe ;
    --color-dark: #201D1F;
    --color-white: #ffffff; */
  }
  
  :root {
    /* --color-primary:  #0f5d20;
    --color-primary-variation:   #0f5d20;
    --color-primary-second-variation: #6cacfe;
    --color-secondary:  #0c8f15;
    --color-secondary-variation: #f6f6f5;
    --color-palette-first:  #b3b73f;
    --color-palette-second: #ADB5C5;
    --color-palette-second-var: #dcf1f6;
    --color-palette-third: #d8f5f6;
    --color-dark: #201D1F;
    --color-white: #ffffff; */
  }
  
  :root {
    /* --color-primary: #208e9f;
    --color-primary-variation: #6cacfe;
    --color-primary-second-variation:#2985c1;
    --color-secondary: #7eb78c;
    --color-secondary-variation:#7eb78c  ;
    --color-palette-first: #dfce9e;
    --color-palette-second: #464a50;
    --color-palette-second-var: #dcf1f6;
    --color-palette-third: #d1dbec;
    --color-dark: #201D1F;
    --color-white: #ffffff; */
  }
  
  :root {
    /* --color-primary:  #4d92a4;
    --color-primary-variation: #dcf1f6;
    --color-primary-second-variation:#cecec2;
    --color-secondary : #7fa59b;
    --color-secondary-variation: #6cacfe ;
    --color-palette-first: #cecec2;
    --color-palette-second: #ADB5C5;
    --color-palette-second-var: #efeee3 ;
    --color-palette-third:#f9f9f9 ;
    --color-dark: #201D1F;
    --color-white: #ffffff; */
  }
  
:root {
  --color-primary: #17a477;
  --color-primary-variation:  #17a477;
  --color-primary-second-variation: #c2e982;
  --color-secondary: #f8efd4;
  --color-secondary-variation:#12455a;
  --color-palette-first: #ffffff;
  --color-palette-second:  #243511;
  --color-palette-second-var:#F1EFE5;
  --color-palette-third: #ADB5C5;
  --color-dark: #201D1F;
  --color-white: #ffffff;
}

$color__background-body: var(--color-palette-second-var);
$color__background-body-menu: var(--color-palette-first);
$color__background-body-footer: var(--color-primary);
/* Color background */
$color__background--h1: var(--color-primary);
$color__background--h2h3h4: var(--color-primary-variation);
$color__background--h5h6: var(--color-palette-second);
$color__background--code: var(--color-palette-second);

/* Color H */
$color__h1: rgb(26, 47, 71);
$color__h2h3h4: rgb(76, 163, 98);
$color__h5h6: rgb(39, 80, 87);
$color__code: rgb(141, 172, 101);

/* Color Links*/
$color__link: rgb(161, 35, 35);
$color__link-visited: rgb(35, 161, 35);
$color__link-hover: rgb(161, 35, 155);

/* Color Links aside*/
$color__link__aside: rgb(92, 26, 26);
$color__link__aside-visited: rgb(16, 75, 16);
$color__link__aside-hover: var(--color-primary-variation);
$color__link__aside-text-hover: var(--color-white);

/* Color Buttons*/
$color__border-button: red ;
$color__background-button: rgb(23, 102, 98);
$color__border-button-hover: rgb(21, 107, 141);
$color__border-button-focus: rgb(51, 109, 12);

/* Color Fields (imput text)*/
$color__text-input: rgb(75, 69, 69) ;
$color__border-input: rgb(48, 48, 48) ;
$color__text-input-focus: rgb(128, 128, 128) ;
$color__border-input: rgb(170, 170, 170) ;

/* hr */
$color__background-hr: rgb(138, 167, 231);

/* Simple */
$color__background-pre: rgb(194, 140, 140);
$color__border-abbr: rgb(122, 93, 93) ;
$color__background-ins: rgb(116, 97, 97) ;
