/*
$color__background-body : rgba(11, 194, 35, 0.534);

$color__background--h1: rgb(87, 50, 50);

$color__background--h2h3h4: rgb(118, 165, 130);

$color__background--code: rgb(172, 101, 101);
*/




$color__background-body : rgba(11, 194, 35, 0.534);
/* Color background */
$color__background--h1: rgb(87, 50, 50);
$color__background--h2h3h4: rgb(118, 165, 130);
$color__background--h5h6: rgb(39, 87, 51);
$color__background--code: rgb(172, 101, 101);

/* Color */
$color__h1: rgb(66, 46, 46);
$color__h2h3h4: rgb(76, 163, 98);
$color__h5h6: rgb(39, 80, 87);
$color__code: rgb(141, 172, 101);


$color__link: rgb(161, 35, 35);
$color__link-visited: rgb(35, 161, 35);
$color__link-hover: rgb(161, 35, 155);



