

$police__main : 'Verdana, Geneva', Tahoma, sans-serif;
$police__titre-principale :  'Times New Roman', Times, serif;
$police__titre-secondaire : 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;


/*  Simple  */
$font__pre: 'Courier New', Courier, monospace;
$font__line-height-pre: .8em;
$font__code:'Verdana, Geneva', Tahoma, sans-serif;





