

$police__main : 'Verdana, Geneva', Tahoma, sans-serif;
$police__titre-principale :  'Times New Roman', Times, serif;
$police__titre-secondaire : 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;


