.site__branding {
    // font-size: 20px;
}
.site__title {
    font-size: 20px;
}
.description {
}
.custom-logo-link {
    display: inline-block;
}

.sidebar-icones, .sidebar-recherche {
    margin-left: auto;
}