
.site__title {
    font-size: 20px;
}

.custom-logo-link {
    display: inline-block;
}

// .sidebar-icones, .sidebar-recherche {
//     margin-left: auto;
// }
.headerFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {

    .headerFlex {
        justify-content: center;
    }
}