
.site__footer {
    display: flex;
    justify-content: space-around;
    background-color: bisque;
}
.site__footer div {
    width: 20%;
    height: 200px;
    border: 1px solid rgb(228, 202, 202);
    background-color: bisque;
}