
.site__footer {
    display: flex;
    justify-content: space-around;
    background-color: bisque;
}
.site__footer>div {
    flex: 1;
    padding: 10px;
    // width: 100%;
    height: 370px;
    border: 2px solid rgb(240, 242, 250);
    background-color: rgb(184, 229, 243);
}

.site__footer img {
    border: 3px solid rgb(221, 183, 204);
}

.site__footer h3, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-decoration: unquote($string: "");
    text-decoration: none;
    font-weight: bold;
}
.site__footer li {
    padding: 5px;
}