.liste {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
  
.liste__cours {
  padding: 20px;
  margin: 20px;
  width: 300px;
  height: 350px;
  background-color: var(--color-palette-first);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 0px 120px 20px 20px;
  border-bottom: solid  5px var(--color-primary);
  // flex: 0 1 10%;
}

.custom-logo {
  padding: 20px;
}

@media screen and (max-width : 900px){
  .liste {
      display: flex;
      flex-direction: column;
      width: 400px;
    }
  .liste__cours {
    width: 400px;

  }
  h1 {
    font-size: clamp(1.3rem, 1vw, 2.5rem);
  }
}

