.liste {
  margin: 20px;
  background-color: var(--color-palette-first);

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
  
.liste__cours {
  padding: 20px;
  margin: 20px;
  gap: 20px;
  width: 200px;
  height: 400px;
  flex-wrap: wrap;
  flex: 0 1 10%;
}

.custom-logo {
  padding: 20px;
}