.liste {
  display: flex;
    margin: 20px;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.liste__cours {
  flex-wrap: wrap;
    flex: 0 1 10%;
}

.custom-logo {
  padding: 20px;
}