

.menu__principal {

    background-color: $color__background-body;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .menu {
        margin: 20px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        }

        .menu-item {
            // list-style-type: none;

            padding: 10px;
            background-color: $color__background-body-menu;
            margin: 10px;
            border-radius: 5px;
        }

        a {
            text-decoration: none;
            font-weight: bold;
            color: rgb(20, 76, 102);
            font-family: $font__code;
        }

        .menu-item:hover {
            background-color: $color__link__aside-hover;
        }

        a:hover {
            color: black;
        }
    
}

/* transformation en CSS */
.menu-primaire-container {
}
.menu-primaire-container .menu {
}
.menu-primaire-container .menu-item {
}
.menu-primaire-container a {
}