.menu__evenement .menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.menu__evenement .menu-item {
    width: 25%;
}

.menu__evenement .menu-item a {
    text-decoration: none;
}

.menu__evenement .menu-item a:hover {
    text-decoration: overline;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

.evenement__porte,
.evenement__projet,
.evenement__stage {

    padding: 20px;
    border-radius: 5px;
}

.evenement__porte {
    background-color: rgb(110, 29, 47);
}

.evenement__projet {
    background-color: rgb(65, 41, 133);
}

.evenement__stage {
    background-color: rgb(67, 104, 45);
}

.menu__item__description {
    background-color: rgb(35, 172, 76);
}

.menu__item__icone {
    width: 32px;
    height: 32px;
}

.evenement__porte .menu__item__icone {
    background-image: url(https://s2.svgbox.net/crypto.svg?ic=amb&color=4797ff);

}
.evenement__projet .menu__item__icone {
    background-image: url(https://s2.svgbox.net/crypto.svg?ic=ada);
}
.evenement__stage .menu__item__icone {
    background-image: url(https://s2.svgbox.net/crypto.svg?ic=actn&color=4797ff)  ;
}

.evenement__porte .menu__item__icone:hover {
    background-image: url(https://s2.svgbox.net/loaders.svg?ic=ball-triangle&color=4797ff);
}

.evenement__projet .menu__item__icone:hover {
    background-image: url(https://s2.svgbox.net/loaders.svg?ic=circles&color=4797ff);
}

.evenement__stage .menu__item__icone:hover {
    background-image: url(https://s2.svgbox.net/loaders.svg?ic=audio&color=4797ff);
}