.menu__aside {
    display: flex;
    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .menu-item {
        padding: 10px;
        background-color: $color__background-body-menu;
        margin: 10px;
        a {
            text-decoration: none;
            font-weight: bold;
            color: rgb(20, 76, 102);
            font-family: $font__code;
        }
        
    }

}


/*
.menu__aside {}
.menu__aside .menu {}
.menu__aside .menu-item {}
.menu__aside a {}
*/