

.menu__principal {

    background-color: $color__background-body;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .menu {

        list-style-type: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // flex-direction: column;
        }

        .menu-item {
            // list-style-type: none;

            padding: 10px;
            background-color: $color__background-body-menu;
            margin: 10px;
            border-radius: 5px;
        }

        a {
            text-decoration: none;
            font-weight: bold;
            color: rgb(20, 76, 102);
            font-family: $font__code;
        }

        .menu-item:hover {
            background-color: $color__link__aside-hover;
        }

        a:hover {
            color: black;
        }
    
}

// .menu-principal-container {}
// .menu-principal-container .menu {}
// .menu-principal-container .menu-item {}
// .menu-principal-container a {}