.menu__evenement {

}

.menu__evenement .menu { // ul
    list-style-type: none;
    display: flex;
    justify-content: space-around;

    border: 1px solid brown;
}

.menu__evenement .menu-item {
    width: 25%;
}

.menu__evenement .menu-item a {
    text-decoration: none;
}

.menu__evenement .menu-item a:hover {
    text-decoration: overline;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

.evenement__porte {
    background-color: rgb(255, 0, 55);
}

.evenement__projet {
    background-color: rgb(98, 0, 255);
}

.evenement__stage {
    background-color: rgb(255, 251, 0);
}


// .menu__item__description {
//     background-color: rgb(35, 172, 76);
// }

.menu__item__icone {
    background-color: bisque;
    width: 50px;
    height: 50px;
}

.evenement__porte .menu__item__icone {
    
}
.evenement__projet .menu__item__icone {

}
.evenement__stage .menu__item__icone {

}