

h1{
    font-family: $font__code;
    padding: 10px 0px 0px 20px;
    padding: 20px;
    margin: 0;
    font-size: clamp(.2rem, 1vw, 2.5rem);
}


h5,
h6 {
	font-family: $police__titre-secondaire;
    color: $color__h5h6;
}

h2,
h3,
h4 {
    color: $color__background--h2h3h4;
    padding: 20px;
}